AgentesIA/Agente_IA_3.json
{
  "name": "Agente IA 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"Documento en Proceso\" "
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        -20
      ],
      "id": "442e5647-8f8c-4bfa-b6c9-e0d6abc918f2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "f0aVTqDYsnaj45NC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://surf-rejected-wagner-attachments.trycloudflare.com/api/facturas/{{ $json.id }}/reporte/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -20
      ],
      "id": "32a7b9cc-7914-4284-9e38-41b53255cc81",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hola",
        "options": {
          "systemMessage": "=Docuementos procesados"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -20
      ],
      "id": "c39ad1d9-b0c1-426e-9d9d-72b731e027a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.cliente_email }}",
        "subject": "Docuementos procesados",
        "message": "=<p>¡Hola!</p>\n<p>Tu informe de facturación ya está listo. Puedes descargarlo desde aquí:</p>\n<p>\n  <a href=\"{{ $('HTTP Request').item.json.url }}\" target=\"_blank\">\n    Descargar reporte de la factura\n  </a>\n</p>\n<p>Saludos,<br/>Tu equipo de VisionFlowAI</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        -20
      ],
      "id": "ebd95055-64a0-4c37-8cff-ce6ced30cea0",
      "name": "Gmail",
      "webhookId": "817e14ca-337f-4679-b3c6-5c4b41297b89",
      "credentials": {
        "gmailOAuth2": {
          "id": "f0aVTqDYsnaj45NC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        160
      ],
      "id": "e817c623-1dee-4a01-a6bd-cb6cd0e62982",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fI7UxXQcoHfEBOld",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=Result",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        260
      ],
      "id": "b9068475-f6c6-4a1c-8d6a-fcfd7f34cdd8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08cecede-21c4-4c01-84d5-711c9d55d875",
              "name": "cliente_email",
              "value": "={{ ($json[\"snippet\"].match(/cliente\\s+(\\S+@\\S+)/i) || [])[1] || \"\" }}\n\n",
              "type": "string"
            },
            {
              "id": "7056205f-4686-476d-9162-a98c7e1a30f7",
              "name": "id",
              "value": "={{ ($json[\"snippet\"].match(/y\\s+(\\d+)\\b/) || [])[1] || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        -20
      ],
      "id": "3e5cf432-5a03-4d1a-9087-4dce2b99824b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -20
      ],
      "id": "0100d6f9-cfb7-4666-8460-f1d089597d55",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bdc0f18-0689-4686-b50a-94a0bff3af34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd03f463cd8ab1daffa59c42120aba896aaf2617be890ee8cd788de4ec470906"
  },
  "id": "EnpIElF6kBR5t9WN",
  "tags": []
}